// Colors

// primary
$paleBLue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);

// neutral
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);


// font sizes
$font-sm: 1rem; // 16px
$font-med: 1.0625rem; // 18px
$font-lg: 1.5625rem; // 25px
$font-xlg: 3.25rem; // 52px

